@model ChangePasswordVM

<div class="form-container container-center">
    <div class="title">Change Password</div>

    <form method="post">
        <div class="form-group">
            <label asp-for="CurrentPassword"></label>
            <div class="form-input">
                <input asp-for="CurrentPassword" />
                <input type="checkbox" class="password-show-button">
            </div>
            <span asp-validation-for="CurrentPassword"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <div class="form-input">
                <input asp-for="NewPassword" />
                <input type="checkbox" class="password-show-button">
            </div>
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <div class="form-input">
                <input asp-for="ConfirmPassword" />
                <input type="checkbox" class="password-show-button">
            </div>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="form-group">
            <button class="button-full" type="submit" data-button="yellow">Reset Password</button>
        </div>
    </form>

</div>
