@{
    ViewBag.Title = "About Us | Supershow";
}

@section head {
    <style>
        p {
            font-size: 18px;
            line-height: 25px;
            white-space: pre-wrap;
        }
    </style>
}

<div class="container">
    <div class="title">About Us</div>
    <p>Welcome to <strong>Supershow</strong>, your trusted online cinema ticketing platform.
We make booking movie tickets easier than ever — browse the latest films, pick your preferred seats, and secure your tickets in just a few clicks.

At Supershow, we believe movies are more than entertainment; they're experiences that bring people together. Whether it's a blockbuster, a family outing, or a casual night out, Supershow is here to make your cinema journey smooth, fast, and enjoyable.
    </p>
</div>