@{
    ViewBag.Title = "Privacy Policy | Supershow";
}

@section head {
    <style>
        p {
            font-size: 18px;
            line-height: 25px;
            white-space: pre-wrap;
        }
    </style>
}

<div class="container">
    <div class="title">Privacy Policy</div>
    <p>At <strong>Supershow</strong>, we take your privacy seriously.

Information We Collect: When you use our services, we collect your name, email address, home address, and device information (for authentication and security purposes).

How We Use Your Information:
- To process and confirm your movie ticket bookings.
- To authenticate your account and keep it secure.
- To improve our website and provide a better user experience.

Data Protection: Your personal data will never be sold or shared with third parties, except when required by law or necessary for secure payment processing.
Cookies: Our website may use cookies to remember your preferences and enhance your browsing experience. You may disable cookies in your browser settings if preferred.

By using Supershow, you <strong>agree</strong> to this Privacy Policy. Updates may be made from time to time, and changes will be reflected on this page.
    </p>
</div>