@model ManageCinemaVM

@{
    ViewBag.Title = "Manage Cinemas | Supershow";
}

<form class="container" data-ajax="true" data-ajax-update="#manage-results"
    data-ajax-complete="closeOverlay('filter-overlay')">

    <div id="filter-overlay" class="overlay">
        <div class="content">
            <div class="overlay-header">
                <div class="title">Filter By</div>
                <div class="overlay-close"></div>
            </div>

            <div class="form-group">
                <label>State</label>
                <div class="custom-tick-container center-text small-text rounded-border">
                    @foreach (var state in Model.AvailableStates)
                    {
                        <label>
                            <input type="checkbox" name="States" value="@state" @(Model.States.Contains(state) ?
                                                                                                                "checked" : "")>
                            <div>
                                <div class="custom-tick-text">@state</div>
                            </div>
                        </label>
                    }
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MinHallsCount"></label>
                <div class="form-input">
                    <input asp-for="MinHallsCount" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MaxHallsCount"></label>
                <div class="form-input">
                    <input asp-for="MaxHallsCount" />
                </div>
            </div>

            <div class="button-group-inline">
                <button type="button" data-button="outline" data-clear-form>Reset</button>
                <button type="submit" data-button="yellow">Apply</button>
            </div>

        </div>
    </div>

    <div class="container" data-manage-container="query">
        <div class="title">Manage Cinemas</div>
        <div class="form-group">
            <div class="input-group search-container">
                <div class="form-input">
                    <input data-clear-form-ignore asp-for="Search"/>
                    <button type="submit"></button>
                </div>
                <div class="custom-select">
                    <select asp-for="SearchOption" asp-items="Model.AvailableSearchOptions"></select>
                </div>
                @if (ViewBag.AccountType == "Super Admin" || ViewBag.AccountType == "Operation Manager")
                {
                    <a href="@Url.Action("Add")" data-button="blue">Add Cinema</a>
                }
                <div id="filter" data-link>Filter by</div>
            </div>
        </div>
    </div>

    <div id="manage-results" class="container" data-manage-container="table">
        <partial name="_Manage" model="Model" />
    </div>

</form>