@model ForgotPasswordVM

@{
    ViewBag.Title = "Forgot Password | Supershow";
}

<div class="form-container container-center">
    <div class="title">Forgot Password</div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="form-input">
                <input asp-for="Email" placeholder="Enter your email address" />
            </div>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <button class="button-full" type="submit" data-button="yellow">Send Reset Link</button>
        </div>
    </form>
</div>